* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        src: url("font/Questrial-Regular.ttf");
        font-family: "Quicksand";
    }
    /********* navigation bar css start ***********/
    
    .navbar {
        background-color: rgb(237, 237, 237);
        display: flex;
        padding: 10px;
    }
    /* nav1 css */
    
    .navbar .nav1 {
        width: 80%;
    }
    
    .navbar .nav1 .div1 ul {
        display: flex;
        list-style: none;
    }
  .navbar .nav1 .div1 ul li {
        margin-left: 30px;
        padding: 18px;
        text-transform: uppercase;
        font-weight: none;
        font-family:candara;
        position: relative;
    }
  .navbar .nav1 .div1 ul li a {
        text-decoration: none;
        color: black;
        position: relative;
        display: inline-block;
    }
    
.navbar .nav1 .div1 ul li a::after {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color: rgb(148, 7, 7);
        transition: 1.01s;
    }

    .navbar .nav1 .div1 ul:hover li:hover a::after {
        width: 90%;
    }
    /* nav1 div2 css */
    
    .navbar .nav1 .div2 {
        padding: 9px 0px 9px 17px;
        margin-left: 28px;
        font-family: "Open Sans";
    }
    /* nav2 css */
.navbar .nav2 {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


 /* nav2 img div css */
    
    .navbar .nav2 .img_div {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .navbar .nav2 .img_div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* nav2 img text css */
    
    .navbar .nav2 .img_txt {
        margin-left: 10px;
	font-family: "Open Sans";
    }
    
    @media(max-width:890px) {
        /* navigation media query */
        .navbar {
            display: block;
        }
        .navbar .nav1 {
            width: 100%;
            text-align: center;
        }
        .navbar .nav2 {
            width: 100%;
        }
        .navbar .nav1 .div1 ul li {
            padding: 5px;
            display: flex;
            margin: auto;
            margin-top: 12px;
        }
        .navbar .nav1 .div2 {
            margin-left: 0;
        }
    }
    /* navigation bar css end */
    /**** main content css start ***/
    
    .main_content {
        display: flex;
        background-image: url("background2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    
    .main_content .main-div1 {
        width: 50%;
        padding: 20px 15px 30px 0px;
        height: auto;
        background: transparent;
	 
    }
.main_content .profile-div {
        position: relative;
        text-align: center;
        margin: auto;
        width: 58%;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        background-color: rgb(255, 255, 255, 0.87);
        padding: 15px 0px 0px 0px;
        overflow: hidden;
	
    }
    
    .main_content .profile-div .profile-title {
        margin-top: 15px;
        font-family: "Open Sans";
        font-weight: bold;
    }
    
    .main_content .profile-div .profile-img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        margin-top: 20px;
    }
    
    .main_content .profile-div .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .main_content .profile-div .profile-img input {
        position: absolute;
        display: none;
    }
    
    .main_content .profile-div .profile-img label {
        position: absolute;
        margin-top: 94px;
        margin-left: -65px;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    
    .main_content .profile-div .profile-info {
        margin-top: 20px;
        width: 60%;
        margin-left: 140px;
        justify-content: center;
        text-align: start;
        font-family: "Open Sans";
        font-size: 19px;
        line-height: 32px;
    }

	
    .main_content .profile-div .profile-info #a{
	font-size:16px;		
	font-family: Raleway;
        letter-spacing:1px;
	}
    
    .main_content .profile-div .profile-info i {
        position: absolute;
        margin: -32px 0px 0px 50px;
        font-size: 20px;
        cursor: pointer;
    }
    
    .main_content .profile-div .profile-info p:nth-child(1) {
        font-size: 14px;
        font-weight: bolder;
    }
    
    .main_content .profile-div .profile-info p:nth-child(4) {
        font-size: 16px;
        font-weight: bolder;
    }

.main_content .profile-div .details {
        position: absolute;
        margin: 22px 0px 0px 100px;
        color: rgb(211, 211, 211);
        width: 49%;
        border-radius: 10px;
        padding: 25px 5px 25px 5px;
        line-height: 28px;
        font-family: raleway;
        background-color: rgb(12, 12, 12);
        z-index: 1;
	letter-spacing:1px;
	
    }
    .main_content .profile-div .details p{
	margin-left:10px;
}
    
    .main_content .profile-div .shape {
        background-color: rgb(94, 129, 153, 0.8);
        margin-top: 20px;
        width: 100%;
        height: 190px;
        clip-path: polygon(0 0, 33% 72%, 100% 100%, 0% 100%);
        z-index: -1;
    }
    /*** main div 2 *****/
    
    .main_content .main-div2 {
        width: 50%;
    }
    
    .main-div2 .div-1 .profile-div {
        margin-top: 25px;
        width: 70%;
    }
    
    .main-div2 .div-1 .profile-div .details {
        background: none;
        color: black;
        text-align: start;
    }
    
    .main-div2 .div-1 .profile-div .details img {
        position: absolute;
        width: 15px;
        height: 15px;
        overflow: hidden;
        margin: 7px 0px 0px -20px;
    }
 .main-div2 .div-1 .profile-div .shape {
        clip-path: polygon(73% 70%, 100% 0, 100% 100%, 0% 100%);
    }
    
    .main-div2 .div-2 {
        margin-top: 25px;
    }
    
    .main-div2 .div-2 .profile-div {
        position: relative;
        text-align: center;
        margin: auto;
        width: 70%;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 15px 0px 0px 0px;
        overflow: hidden;
    }
    
    .main-div2 .div-2 .profile-div .details {
        background-color: rgb(209, 209, 209);
        color: black;
        width: 60%;
        margin-left: 95px;
        position: relative;
	
    }


    
    .main-div2 .div-2 .profile-div .phara {
        width: 88%;
        margin: 17px auto 0px auto;
        text-align: start;
        padding: 10px;
        font-size: 15px;
        font-family: raleway;
	letter-spacing:1px;
    }
    
    .main-div2 .div-2 .profile-div .details input:nth-child(2),
    input:nth-child(5) {
        width: 50%;
        padding: 4px;
        outline: none;
        border: 1px solid rgb(155, 155, 155);
        background-color: rgb(240, 240, 240, 0.7);
    }
    
    .main-div2 .div-2 .profile-div .details .img-box {
        margin: auto;
        width: 60%;
        height: auto;
        overflow: hidden;
    }
    
    .main-div2 .div-2 .profile-div .details .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .main-div2 .div-2 .profile-div .shape {
        margin-top: -120px;
    }
    
    @media(max-width:800px) {
        /* content media query */
        .main_content {
            display: block;
        }
        .main_content .main-div1 {
            width: 100%;
        }
        .main_content .main-div1 .profile-div {
            width: 80%;
        }
        .main_content .main-div2 {
            width: 100%;
            padding: 0px;
        }
        .main-div2 .div-1 .profile-div,
        .main-div2 .div-2 .profile-div {
            width: 77%;
        }
    }
    
    @media(min-width:801px) {
        /* content media query */
        .main_content .main-div1 .profile-div {
            width: 100%;
            margin: auto 0px auto 10px;
        }
        .main-div2 .div-1 .profile-div,
        .main-div2 .div-2 .profile-div {
            width: 77%;
        }
    }
    
    @media(min-width:1024px) {
        /* content media query */
        .main_content .main-div1 .profile-div {
            width: 70%;
            margin: auto;
        }
        .main-div2 .div-1 .profile-div,
        .main-div2 .div-2 .profile-div {
            width: 77%;
        }
    }
