* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        src: url("font/Questrial-Regular.ttf");
        font-family: "Quicksand";
    }
    /********* navigation bar css start ***********/
    
    .navbar {
        background-color: rgb(237, 237, 237);
        display: flex;
        padding: 10px;
    }
    /* nav1 css */
    
    .navbar .nav1 {
        width: 80%;
    }
    
    .navbar .nav1 .div1 ul {
        display: flex;
        list-style: none;
    }
  .navbar .nav1 .div1 ul li {
        margin-left: 30px;
        padding: 18px;
        text-transform: uppercase;
        font-weight: none;
        font-family:candara;
        position: relative;
    }
  .navbar .nav1 .div1 ul li a {
        text-decoration: none;
        color: black;
        position: relative;
        display: inline-block;
    }
    
.navbar .nav1 .div1 ul li a::after {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color: rgb(148, 7, 7);
        transition: 1.01s;
    }

    .navbar .nav1 .div1 ul:hover li:hover a::after {
        width: 90%;
    }
    /* nav1 div2 css */
    
    .navbar .nav1 .div2 {
        padding: 9px 0px 9px 17px;
        margin-left: 28px;
        font-family: "Open Sans";
    }
    /* nav2 css */
.navbar .nav2 {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


 /* nav2 img div css */
    
    .navbar .nav2 .img_div {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .navbar .nav2 .img_div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* nav2 img text css */
    
    .navbar .nav2 .img_txt {
        margin-left: 10px;
	font-family: "Open Sans";
    }
    
    @media(max-width:890px) {
        /* navigation media query */
        .navbar {
            display: block;
        }
        .navbar .nav1 {
            width: 100%;
            text-align: center;
        }
        .navbar .nav2 {
            width: 100%;
        }
        .navbar .nav1 .div1 ul li {
            padding: 5px;
            display: flex;
            margin: auto;
            margin-top: 12px;
        }
        .navbar .nav1 .div2 {
            margin-left: 0;
        }
    }
    /* navigation bar css end */
    /**** main content css start ***/
    
    .main_content {
        display: flex;
        background-image: url("background2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    
    .main_content .main-div1 {
        width: 50%;
        padding: 20px 15px 30px 0px;
        height: auto;
        background: transparent;
	 
    }
