*{
    padding:0;
    margin:0;
 }
 
  body{
  background:black;

 }
	@font-face{
font-family:angelica;
font-family:"Mont ExtraLight DEMO";

}
 
 body {margin:0;}
 
  .menu{
   overflow: hidden;
   background-color:black;
   position:relative;
   top:0;
   width: 100%;
   height:9%;
   opacity:89%;
 }
 .menu a{
   float:left;
   display: block;
   color: white;
   text-align:center;
   text-decoration: none;
   margin-top:20px;
   margin-left:40px;
   margin-right:40px;
 font-size:17px;
 font-family:candara;
 letter-spacing:1px;
 }
 .logo{
 float:right;
 }
 #fb{
 margin-top:11px;
 margin-left:28px;
 margin-right:20px;
 margin-bottom:1px;
 }
 #tw{
 margin-top:12px;
 margin-bottom:10px;
 margin-left:10px;
 margin-right:12px;
 }
 #ig{
 margin-top:10px;
 margin-left:20px;
	margin-right:50px;
 }
 
 .boxone{
    width: 1300px;
    height: 780px;
    border: 1px solid white;
    
    margin: auto;
	margin-top:20px;
	
   }
.row img{
width:120px;
height:120px;

}

 .boxone h4{
     margin-left:93%;
     
     margin-top: none;
 
 }
.boxone h4 a{

color:white;
}

 .row{
     display: flex;
     flex-wrap: wrap;
     margin:auto;
     width:550px;
     padding-top: 50px;
   	

 }

 .coloumn{
    
     padding: 0 4px;
	width:550px;
	margin:auto;
 }
 
 .coloumn img{
     margin-top: 10px;
     margin-right:8px;
     vertical-align: middle;
 }
#let{
border:solid;
border-color:white;
border-width:0.5px;
}
.con{
color:white;

margin-top:20px;
font-size:130px;
font-family:angelica;
letter-spacing:5px;

}
.consub{
font-family:"Open Sans";
font-size:15px;
color:white;
text-align:center;
margin-top:-50px;
letter-spacing:2px;
}
hr{
width:30%;

}
#right{
float:right;
margin-top:-105px;
width:29%;
}
#left{
float:left;
margin-top:83px;
margin-right:0;
}
.addbutton{
margin-left:80px;
background-color:gray;
width:50px;
height:50px;
border-radius:10px;
margin-bottom:-150px;
}
.addbutton img{
padding:7px;

}

.box1{
    width: 1200px;
    height: 1000px;
    border: 2px solid white;
    padding: 50px;
    margin: auto;
    margin-top:50px;

   }

   .p1{
    width: 1000px;
    height: 500px;
    border: 2px solid white;
    margin-left:90px;
    
   }
   
   .wbar{
    overflow: hidden;
    background-color: white;
    position:relative;
    bottom:0;
    width: 100%;
    height:50px;
    opacity:89%;
    border: 2px solid white;
    
   }

   .features
  {
    float: left;
    margin-top: 5px;
  
  }

    #fav{
  
    margin-left:15px;
    margin-right:5px;
    margin-bottom:1px;
    }
    #com{
     
      margin-left:none;
      margin-right:5px;
      margin-bottom:1px;
    }
  
    #tag{
     
      margin-left:none;
      margin-right:5px;
      margin-bottom:1px;
    }
    #share{
     
      margin-left:none;
      margin-right:5px;
      margin-bottom:1px;
      }

      .dp{
        width: 200px;
        height: 30px;
        border: 2px solid black;
        padding: 10px;
        margin-left:90px;
        margin-top: 20px;
        font-weight: none;
        letter-spacing: 1px;
        font-family:raleway;
      }
      .dp img{
        float: left;
      }
      .dp h3{
        margin-left: 80px;
      }

      .desc{
          color:white;
        width: 600px;
        height: 150px;
        border: 2px solid black;
        padding: 20px;
        margin-left:90px;
        margin-top: 10px;
        letter-spacing: 1px;
        line-height: 170%;
        font-family:raleway;
      }
.feedno{
background-color:#212121;
font-family:raleway;
color:white;
padding:20px 20px;
width:120px;
height: 120px;
border-radius:8px;
letter-spacing:2px;
font-size:15px;
margin-left:90px;
margin-top:20px;
line-height: 170%;
}
.feedno h3{
    font-weight: none;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
}
.feedno p{
    margin-left: 20px;
    font-size:17px;
}
.loc{
float:right;
margin-top:-300px;
margin-right:105px;
}
